
body {
  background-color:bisque;
  text-align: center;
}
h1 {
  font-family:'Courier New', Courier, monospace;
  font-size: 40px;
  text-align: center;
  color: rgb(156, 47, 65);
}
h3 {
  font-size: 30px;
  font-weight: border;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(156, 47, 65);

}   
#foto {
    border-style:groove;
    
}
p {
  
}

.lista {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  list-style-type:none;
}

#deondeeusou {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  color: rgb(112, 18, 34);
}

.hobbiesequalidades {
  font-size: 20px;
  font-family: monospace;
  color:rgb(156, 47, 65);
}

#meublog {
  color:rgb(156, 47, 65);
  font-family: monospace;
  line-height: 100px;
}

.alista {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type:circle;
  color:darkviolet;
}